.row
  .eight.columns.centered

    %div{:style=>"width:100%;text-align:center"}
      %img{:src=>"assets/clmc.png",:style=>"margin: 20px 0 15px 0px",:alt=>"Cincinnati Live Music Calendars"}

    #instructions
      %p Subscribe to live music event feeds from venues around town! 
      %p Click a link below to start automatically updating your calendar of choice with local music events. Feeds are updated weekly.

    #feeds
    - if last_update = Location.last_update 
      .row
        .eight.columns
          %p{:class => "last-updated"}
            Last Update -  
            %b #{last_update.strftime('%A, %b %d %Y')}
        .four.columns
          <a href="https://twitter.com/share" class="twitter-share-button" data-text="Subscribe to Live Music Events in Cincinnati!" data-via="joelturnbull">Tweet</a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

    %ul.no-style
      -if master_location = Location.feed
        %li.master
          .row
            .four.columns
              %b
                = "Subscribe to All Venues"
            .three.columns
              %b
                = link_to "Google", google_subscribe_link(master_location), :class => "secondary radius button small expand"
            .two.columns.hide-for-small
              %b
                = link_to "iCal", ical_subscribe_link(master_location), :class => "secondary radius button small expand"
            .two.columns.end
              %b
                = link_to "ics", ics_link(master_location), :class => "secondary radius button small expand"
          
      -locations.each do |location|
        %li
          .row
            .four.columns
              = location.feed_name
            .three.columns
              = link_to "Google", google_subscribe_link(location), :class => "secondary radius button small expand"
            .two.columns.hide-for-small
              = link_to "iCal", ical_subscribe_link(location), :class => "secondary radius button small expand"
            .two.columns.end
              = link_to "ics", ics_link(location), :class => "secondary radius button small expand"
    #footer
      .row
        .ten.columns
        .two.columns
          = link_to "contact", "mailto:joelbywan@gmail.com"

:javascript
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-36427533-1']);
  _gaq.push(['_setDomainName', 'starkgarden.com']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();


