.row
  .six.columns.centered

    %img{:src=>"assets/clmc.png",:style=>"margin: 20px 0 15px -5px",:alt=>"Cincinnati Live Music Calendars"}

    %p Subscribe to live music event feeds from all of your favorite venues around town! 

    - if last_update = Location.last_update 
      %p{:class => "last-updated"}
        Last Update -  
        %b #{last_update.strftime('%A, %b %d %Y')}
      %hr

    %ul
      -if master_location
        %li 
          .row
            .four.columns
              = Location.feed_name
            .four.columns
              = link_to "Google", master_location.google_url
            .four.columns
              = link_to "iCal", master_location.ical_url
        %hr
          
      -locations.each do |location|
        %li
          .row
            .four.columns
              = location.feed_name
            .four.columns
              = link_to "Google", location.google_url
            .four.columns
              = link_to "iCal", location.ical_url

:javascript
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-36427533-1']);
  _gaq.push(['_setDomainName', 'starkgarden.com']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();


